[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
notebook = "*"
scikit-learn = "*"
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-oauth-toolkit = "*"
mysql-connector-python = "*"
djangorestframework-simplejwt = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
beautifulsoup4 = "*"
lxml = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.8"
